[Unit]
Description=ergofaceservice
Requires=bluetooth.service network-online.target
After=bluetooth.service network-online.target


[Service]
ExecStart=sudo /usr/bin/node server.js
# Required on some systems
#WorkingDirectory=/home/pi/daumUSB2BLE
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-example
User=pi
Group=pi
WorkingDirectory=/home/pi/daumUSB2BLE
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production PORT=3000

[Install]
WantedBy=multi-user.target
